In [1]:
import pandas as pd

In [31]:
features_df = pd.read_csv('features.csv', delimiter=';')
features_df.head()

,Feature,Description,Keywords
0,User,"Include sign up, log in, view and manage user ...","user,signin,signup,profile,member"
1,Transaction,"Include CRUD, reports, lists, approve and decline","transaction,spend,income,outcome,expense,repor..."
2,SharedBudget,"Include CRUD, reports, lists, members, amount ...","sharedBudget,budget"
3,GroupSaving,"Include CRUD, reports, lists, members, amount ...","groupsaving,saving"
4,Invitation,"Include CRUD, accept, cancel","invitation, invite"

In [4]:
fe_fc_df = pd.read_csv('frontend_filechange.csv')
be_fc_df = pd.read_csv('backend_filechange.csv')
be_fc_df.head()

,commit_id,file_name,code_added,code_deleted
0,1a254230c7a54528b2505a81bfdf0a2b43d26ad3,src/app/api/sharedBudget/[sharedBudgetId]/host...,7,4
1,1a254230c7a54528b2505a81bfdf0a2b43d26ad3,src/app/api/sharedBudget/[sharedBudgetId]/host...,7,4
2,1a254230c7a54528b2505a81bfdf0a2b43d26ad3,src/app/api/sharedBudget/[sharedBudgetId]/host...,6,3
3,1a254230c7a54528b2505a81bfdf0a2b43d26ad3,src/app/api/sharedBudget/[sharedBudgetId]/info...,2,2
4,1a254230c7a54528b2505a81bfdf0a2b43d26ad3,src/app/api/sharedBudget/[sharedBudgetId]/repo...,2,2

In [7]:
# Get unique file names into new df
unique_be_fn = be_fc_df['file_name'].unique()
be_feature = pd.DataFrame(unique_be_fn, columns=["filename"])

unique_fe_fn = fe_fc_df['file_name'].unique()
fe_feature = pd.DataFrame(unique_fe_fn, columns=["filename"])

be_feature.head()

                                            filename
0  src/app/api/sharedBudget/[sharedBudgetId]/host...
1  src/app/api/sharedBudget/[sharedBudgetId]/host...
2  src/app/api/sharedBudget/[sharedBudgetId]/host...
3  src/app/api/sharedBudget/[sharedBudgetId]/info...
4  src/app/api/sharedBudget/[sharedBudgetId]/repo...

In [27]:
features_df.columns

Index(['Feature', 'Description', 'Keywords'], dtype='object')

In [33]:
def match_feature(filename, features):
    filename_lower = filename.lower()  # Convert the filename to lowercase for case-insensitive matching
    for index, row in features.iterrows():
        keywords = str(row['Keywords']).split(',')  # Split the keywords by comma
        keywords = [kw.strip().lower() for kw in keywords]  # Clean and lowercase each keyword
        # Check if any keyword is in the filename
        if any(keyword in filename_lower for keyword in keywords):
          return row['Feature']  # Return the matching feature
    return 'Other'  # If no match is found, return 'Other'

# Apply the function to create a new column
be_feature['Feature'] = be_feature['filename'].apply(lambda x: match_feature(x, features_df))
fe_feature['Feature'] = fe_feature['filename'].apply(lambda x: match_feature(x, features_df))

be_feature.head()

                                            filename       Feature
0  src/app/api/sharedBudget/[sharedBudgetId]/host...  SharedBudget
1  src/app/api/sharedBudget/[sharedBudgetId]/host...  SharedBudget
2  src/app/api/sharedBudget/[sharedBudgetId]/host...          User
3  src/app/api/sharedBudget/[sharedBudgetId]/info...  SharedBudget
4  src/app/api/sharedBudget/[sharedBudgetId]/repo...  SharedBudget

In [34]:
be_feature.to_csv('backend_feature.csv', index=False)
fe_feature.to_csv('frontend_feature.csv', index=False)